GCLOUD_PROJECT="your-gcloud-project-id"
GCLOUD_REGION="your-gcloud-zone"
TERRAFORM_STATE_BUCKET="your-terraform-state-bucket"
TERRAFORM_STATE_BUCKET_LOCATION="your-terraform-bucket-location"
GCLOUD_SA_ID="your-service-account-email"